{
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "strict": 0
  },
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
}
