spotify_green = #2ebd59

body.youtify-player
  background #333

.youtify-open-button
  margin-left 1em
  padding .3em .5em
  box-sizing border-box
  width 65.953px
  height 22px
  font-size .9em
  background spotify_green
  color #fff
  border-radius 2px
  &, &:focus, &:hover
    text-decoration none
    border 1px solid lightness(spotify_green, 40%)
  &.disabled, &.disabled:hover
    cursor default
    border-color lightness(#ccc, 70%)
    background #ccc
  &:hover
    background lightness(spotify_green, 50%)
  &:active
    background lightness(spotify_green, 40%)
