spotify_green = #2ebd59

body.youtify-player
  background #333

.youtify-open-button
  margin-left 1em
  padding .4em .5em
  background spotify_green
  color #fff
  border-radius .2rem
  text-decoration none
  &.disabled, &.disabled:hover
    cursor default
    background #ccc
  &:hover
    background lightness(spotify_green, 50%)
  &:active
    background lightness(spotify_green, 40%)
